<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!-- 공통 :: footer -->
    <div th:fragment="footerFragment">
        <section id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-3 col-12-small">
                        <ul class="icons">
                            <li class="icon solid fa-home">
                                1234 Somewhere Road
                                Nashville, TN 00000
                                USA
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 col-12-small">
                        <ul class="icons">
                            <li class="icon solid fa-phone">
                                (000) 000-0000
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 col-12-small">
                        <ul class="icons">
                            <li class="icon solid fa-envelope">
                                <a href="#">info@untitled.tld</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-3 col-12-small">
                        <ul class="icons">
                            <li class="icon brands fa-instagram">
                                <a href="#">instagram.com/untitled</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="copyright" class="container">
                <ul class="links">
                    <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </section>
    </div>
</html>