<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <!-- 공통 :: Header -->
    <div th:fragment="headerFragment">
        <section id="header">
            <div class="container">

                <!-- Logo -->
                <h1 id="logo"><a th:href="@{/index}">MANON BAKERY</a></h1>
                <p>한국 정통 빵을 판매, 마농은 제주도어로 마늘이라는 뜻</p>

                <!-- Nav -->
                <nav id="nav">
                    <ul>
                        <li><a class="icon solid fa-store" th:href="@{/index}"><span>HOURS & LOCATION</span></a></li>
                        <li><a class="icon solid fa-clipboard-list" th:href="@{#}"><span>MENU</span></a></li>
                        <li><a class="icon solid fa-bread-slice" th:href="@{/left}"><span>ABOUT ME</span></a></li>
                        <li><a class="icon solid fa-truck" th:href="@{https://www.ubereats.com/ca/store/manon-bakery/e4N9DTnsXj2yvoVRfpcxyA}" target="_blank"><span>DELIVERY</span></a></li>
                        <li><a class="icon solid fa-bell" th:href="@{/no_side}"><span>PICKUP</span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</html>
